body {
  background-color: #d9d9d9;
}

.header {
  /* text-align:center; */
  margin: -18px 0px 10px 0px;
  width: 100%;
  padding: 1px 1px 1px 10px;
  /* padding-left:1px; */
  background-color: black;
  color: white;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

#btn {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
}

#sortBtn {
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
}

#searchBar {
  width: 85%;
  color:black;
}

table {
  margin: 10px 0px 0px 0px;
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid black;
  text-align:center;
  height:40px;
}
